<!-- app/views/messages/show.html.erb -->
<%= turbo_frame_tag "side-panel-frame" do %>
  <div class="flex flex-col h-full bg-white">
    <div class="p-4 border-b bg-gray-50">
      <%= render partial: "messages/message", locals: { message: @message, is_thread_parent: true } %>
    </div>

    <div class="flex-1 overflow-y-auto p-4 space-y-4">
      <% if @replies.any? %>
        <%= render partial: "messages/message", collection: @replies %>
      <% end %>
    </div>

    <div class="p-4 border-t">
      <%= form_with(model: [@chat_room, @new_reply], class: "border rounded-lg") do |f| %>
        <%= f.hidden_field :parent_message_id %>
        <%= f.text_area :body, placeholder: "返信を送信...", class: "w-full p-2 outline-none resize-none border-none text-sm" %>
        <div class="bg-gray-50 p-2 flex justify-end">
          <%= f.submit "返信", class: "bg-emerald-700 text-white px-3 py-1 rounded text-sm font-bold" %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>