<!-- app/views/tasks/index.turbo_stream.erb -->
<%= turbo_stream.append "tasks-table-body" do %>
  <%= render partial: "tasks/task_row", collection: @tasks, as: :task %>
<% end %>

<%# 「もっと見る」ボタンの制御（ここは現状のままでOKです） %>
<% if @tasks.next_page.present? %>
  <%= turbo_stream.replace "load-more-tasks" do %>
    <div id="load-more-tasks" class="mt-2 flex justify-center">
      <%= link_to "もっと見る",
                  tasks_path(request.query_parameters.merge(page: @tasks.next_page, format: :turbo_stream)),
                  class: "px-4 py-2 text-xs bg-gray-100 border border-gray-300 rounded hover:bg-gray-200" %>
    </div>
  <% end %>
<% else %>
  <%= turbo_stream.remove "load-more-tasks" %>
<% end %>